// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}

#map-canvas {
  height: 100%
}

#panel {
  position: absolute;
  top: 5px;
  right: 200px;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#search_form{
  display: inline;
}

.marker_content {
  max-height: 250px;
  overflow-y: auto;
}