<div id="panel">
  <form id="search_form">
    Цена от <input id="price_from" type="text"/> до <input id="price_to" type="text"/> <input type="submit" value="Поиск"/>
  </form>
</div>

<div id="map-canvas"/>
